/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*  FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* HEADER */
header {
  position: fixed;
  width: 100vw;
  height: 100px;
  background: black;
}

nav {
  width: 64rem;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: black;
  overflow-x: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin-left: 25px;
  display: flex;
  width: 85%;
  height: 85%;
}

.logo h1 {
  margin-left: 25px;
  color: white;
}

.logo h1 a {
  color: white;
  text-decoration: none;
}

.logo h1 a:hover {
  color: deepskyblue;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}

nav ul li:hover {
  border-bottom: 2px solid deepskyblue;
  transition: ease-in 0.2s;
}

nav ul li a {
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 18px;
}

nav ul li a:hover {
  color: deepskyblue;
}

/* MAIN */
section {
  padding-top: 150px;
  padding-bottom: 100px;
}

.container {
  width: 64rem;
  margin: 0 auto;
  display: flex;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
}

.team-container {
  border: 2px solid #2b2b2b;
  width: 300px;
  height: 300px;
  margin: 20px;
  margin-top: 80px;
  padding-top: 0px;
  display: flex;
}

.avatar-container {
  background-color: #2b2b2b;
  width: 100%;
  height: 140px;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-container .avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-position: center center;
}

.person-info {
  width: 100%;
  text-align: center;
}

.up {
  margin-top: 40px;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
}

footer a {
  color: deepskyblue;
}
